<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Donation Countdown</h3>       
          </div>
          <div class="panel-body">

            <button type="submit" class="btn btn-primary" id="login-button-submit">History</button>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">My Profile</h3>       
          </div>
          <div class="panel-body">
              
            <button type="submit" class="btn btn-primary" id="login-button-submit">Update</button>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Log a Donation</h3>       
          </div>
          <div class="panel-body">
              
            <button type="submit" class="btn btn-primary" id="login-button-submit">Submit</button>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Find a donation Center</h3>       
          </div>
          <div class="panel-body">
              form group to search inst's goes here
              
            <button type="submit" class="btn btn-primary" id="login-button-submit">Submit</button>
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        googlemap!!
    </div>
</div>


{{#each donors}}
    <p>{{dataValues.nick_name}}</p>
{{/each}}