<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Needs</h3>  
                    </div>
                    <div class="panel-body">

                        <button type="submit" class="btn btn-primary" id="login-button-submit">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Request Donations</h3>       
                    </div>
                    <div class="panel-body">

                        <button type="submit" class="btn btn-primary" id="login-button-submit">Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        graphic with how far til you reach your goal
    </div>
</div>


{{#each insts}}
    <p>{{dataValues.name}}</p>
{{/each}}