<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row" style="margin-top: 30px">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Login</h3>       
            </div>
            <div class="panel-body">
              <form>
              <div class="form-group">
                  <label for="login-input-nick-name">Nick Name/Login ID</label>
                    <input type="text" class="form-control" id="login-input-nick-name" placeholder="Login ID">
                </div>
                <div class="form-group">
                  <label for="login-input-password">Password</label>
                    <input type="password" class="form-control" id="login-input-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" id="login-button-submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Who We are</h3>       
            </div>
            <div class="panel-body">
                <p>Blood donation is one of the simplest and most powerful things we can do to help our fellow humans. In some cases, the collection and subsequent selling of donated blood (and other blood products) has become quite a fruitful business! We at the ABO project believe that this life-saving substance should go to those who are most in need, not the ones with the deepest pockets. We created this site to connect individual blood donors to the hospitals/clinics/institutions who are most in need. Users are able to search for local institutions who need what they've got! Clinics are are able to adjust their current needs and seek out specific donations via e-mail or SMS (to users who have opted into these features.) </p>
              
                <button type="submit" class="btn btn-primary" id="more-info"><a href="https://en.wikipedia.org/wiki/Blood_donation" target="_blank">More info on blood Donation</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" style="margin-top: 30px" src="https://image.freepik.com/free-vector/blood-donation-logo_23-2147506524.jpg" alt="heart with hands image">
    </div>
  </div> 
</div>