body {
    height: 100%;
    background-image: url("/images/vintage-concrete.png");
}

#navtop {
    border-top: 5px solid #e9ce99;
    padding-left: 10%;
    padding-right: 10%;
    /* height: 60px; */
}

.navbar-brand {
    font-family: 'Spectral SC', serif;
    font-size: 32px;
}

#logo {
    height: 50px;
}

.container {
    padding-bottom: 100px;
    height: 100%;
}

.panel-heading {
    background-color: #a30705 !important;
}

.panel-title {
    font-family: 'Spectral SC', serif;
    font-size: 20px;
}

.btn {
    background-color: #a30705 !important;
    border-color:#a30705 !important;
}

.panel {
    border-color:#a30705 !important;
}

#donation {
    font-size: 20px;
}

.modal-submit {
    color: white;
}

.donor-tile {
    height: 350px;
    margin-bottom: 40px;
}

.inst-tile {
    height: 300px;
    margin-bottom: 40px;
}

#thermometer {
    width: 225px;
    margin-left: 50px;
}

#goal-text {
    font-family: 'Spectral SC', serif;
    text-align: center;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #e9ce99;
    background-color: transparent;
    text-decoration: underline;
}

#google-map {
    height: 500px;
}

#map-search-tile {
    margin-top: 100px;
}

